<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheet/main.css">
  <title>Hello, world!</title>
</head>

<body>





  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="<%= typeof page !== 'undefined' && page === 'fashion' ? 'nav-item active' : 'nav-item' %>">



          <a class="nav-link" href="/fashion">Home <span class="sr-only">(current)</span></a>
        </li>




      </ul>


      <ul class="navbar-nav mr-0 ">
        <% if (!currentUser) { %>






        <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'nav-item active' : 'nav-item' %>">
          <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'nav-item active' : 'nav-item' %>">
          <a class="nav-link" href="/register">Sign Up</a>
        </li>
        <% } else { %>



        <li class="nav-item">
          <a class="nav-link" href="/users/<%=currentUser._id %>"> hello, <%= currentUser.username %></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>

        <%  } %>

      </ul>


    </div>
  </nav>


















  <br />



  <div class="container">
    <% if (success && success.length > 0) {%>
    <div class="alert alert-success" role="alert">
      <%=success %>
    </div>
    <%}%>
    <% if (error && error.length > 0) {%>
    <div class="alert alert-danger" role="alert">
      <%=error %>
    </div>
    <%}%>
  </div>

  <div class="container">