<%- include("../partials/header") %>



<header class="jumbotron">
   <div class="container">


      <h1>fashion catalog</h1>
      <p>welcome to the club</p>
      <p>
         <a href="/fashion/new" class="btn btn-primary">add new</a>
      </p>
   </div>
</header>



<div class="row text-center" style="display: flex; flex-wrap: wrap">
   <div class="col-md-12">




      <% if(noMatch !== null) { %>
      <h3><%= noMatch %></h3>
      <div>
         <form action="/fashion" method="GET" class="form-inline justify-content-center">
            <div class="form-group">
               <input type="text" name="search" placeholder="Campground search..." class="form-control">
               <input type="submit" value="Search" class="btn btn-default">
            </div>
         </form>
      </div>
      <% } %>

   </div>


   <% fashionCatalog.forEach(function(element) { %>

   <div class="col-md-4 col-sm-6 col-lg-3">

      <div class="card">
         <img class="card-img-top" src="/images/<%=element.img%>">
         <div class="card-body">
            <h5 class="card-title"><%=element.name %></h5>

            <a href="/fashion/<%=element._id%>" class="btn btn-primary">details</a>
         </div>
      </div>
 
   </div>












   <%});%>
</div>

<%- include("../partials/footer") %>